name: Crear VM Windows

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Instalar VirtualBox (esto puede fallar por virtualización anidada)
        run: |
          sudo apt-get update
          sudo apt-get install -y virtualbox

      - name: Crear disco duro virtual
        run: VBoxManage createhd --filename disco.vdi --size 10240 # 10GB

      - name: Imprimir la versión de VirtualBox (para verificar si está instalado)
        run: VBoxManage --version
